input {
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 2px dashed rgb(241, 194, 6);
  color: rgb(0, 0, 0);
  font-size: 16px;
}

input:focus {
  outline: none;
}

.labelInput {
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  gap: 10px;
  font-weight: 700;
}
